html, body, div, span, p, ul, li, ol, label, h1, h2, h3, h4, h5, h6, section {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  display: inline-block;
}

.p0 {
  padding: 0;
}

.pr0 {
  padding-right: 0;
}

.pl0 {
  padding-left: 0;
}

.pt0 {
  padding-top: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl15 {
  padding-left: 15px;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.ml0 {
  margin-left: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt20 {
  margin-top: 20px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.btn-plain {
  outline: none;
  border: none;
  background-color: transparent;
}

.btn-plain:hover, .btn-plain:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

button a {
  color: inherit;
}

button a:hover, button a:focus {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/OpenSans-Regular.ttf");
}

body {
  font-family: "Open Sans","Arial";
}

.header-top {
  padding-top: 13px;
  padding-bottom: 13px;
}

.border-bottom {
  border-bottom: 1px solid #f6f6f6;
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.social-links li a {
  padding: 0 17px;
  font-size: 16px;
  color: #909090;
}

.social-links li a:hover, .social-links li a:focus {
  color: #937910;
}

.fa-phone-custom {
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  margin-right: 10px;
  font-size: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  text-align: center;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
  margin-top: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.phone-link {
  font-size: 16px;
  color: #222;
  font-weight: bold;
}

.phone-link:hover, .phone-link:focus {
  text-decoration: none;
}

.dark-link {
  font-size: 13px;
  color: #937910;
  display: inline-block;
  margin-left: 10px;
}

.dark-link:hover, .dark-link:focus {
  text-decoration: none;
}

.dark-span {
  font-size: 13px;
}

.header-top-item {
  float: right;
  margin-left: 15px;
  line-height: 22px;
}

.btn-plain {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #222;
}

.btn-plain:hover, .btn-plain:focus {
  text-decoration: none;
  outline: none;
  border: none;
  color: #937910;
}

.fa-lock-custom {
  margin-right: 10px;
}

.call-search {
  float: right;
  font-size: 20px;
  color: #222;
  padding: 40px 0px 30px 15px;
}

.call-search:hover, .call-search:focus {
  color: #937910;
}

.m-menu li a {
  border-bottom: 2px solid transparent;
  font-size: 16px;
  color: #222;
  font-weight: bold;
  padding: 40px 16px 40px;
}

.m-menu li a:hover, .m-menu li a:focus {
  background-color: transparent;
  color: #937910;
  border-bottom: 2px solid #937910;
}

.navbar-brand {
  padding: 35px 12px;
}

.main-box {
  background: url("../img/main/slider.jpg") no-repeat center/cover;
  width: 100%;
  height: 420px;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}

button a {
  color: inherit;
}

button a:hover, button a:focus {
  text-decoration: none;
  color: inherit;
}

.btn-blue {
  padding: 12px 20px 12px;
  font-size: 14px;
  background-color: #937910;
  color: #ffffff;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-weight: bold;
}

.btn-blue:hover, .btn-blue:focus {
  color: white;
}

.main-block {
  padding: 150px 0;
}

.main-block h1 {
  font-size: 33px;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
  max-width: 500px;
  text-shadow: -3px 0px 4px rgb(31, 31, 31);
}

.main-block p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.top-item-img {
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
}

.top-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-item-caption h2 {
  font-size: 18px;
  color: #222;
  font-weight: bold;
}

.top-item {
  margin-bottom: 20px;
}

.top-box {
  background-color: #f9f9fa;
  padding-top: 30px;
  padding-bottom: 30px;
}

.top-box .block-title {
  color: #937910;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.interesting-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.interesting-box a:hover, .interesting-box a:focus {
  text-decoration: none;
}

.interesting-box h2.block-title {
  display: inline-block;
  margin-right: 20px;
  font-size: 28px;
  color: black;
  font-weight: 700;
  margin-bottom: 25px;
}

.interesting-box .top-item {
  position: relative;
}

.interesting-box .top-item-img {
  width: 100%;
  height: 350px;
}

.interesting-box .top-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interesting-box .top-item-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.interesting-box .top-item-caption h2 {
  color: white;
  font-size: 25px;
  max-height: 78px;
  overflow: hidden;
}

.interesting-box .top-item-caption h2:hover, .interesting-box .top-item-caption h2:focus {
  text-decoration: none;
}

.all-records {
  display: inline-block;
  font-size: 18px;
  color: #937910;
}

.all-records:hover, .all-records:focus {
  color: #937910;
  text-decoration: none;
}

.interesting-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow ease .1s;
  transition: -webkit-box-shadow ease .1s;
  -o-transition: box-shadow ease .1s;
  transition: box-shadow ease .1s;
  transition: box-shadow ease .1s, -webkit-box-shadow ease .1s;
  height: 350px;
  margin-bottom: 20px;
}

.interesting-item:hover {
  -webkit-box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.1);
}

.interesting-item-img {
  width: 100%;
  height: 180px;
}

.interesting-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.interesting-item-caption {
  padding: 20px;
  max-height: 160px;
  overflow: hidden;
}

.interesting-item-caption h2 {
  font-size: 16px;
  color: #222;
  font-weight: 700;
  line-height: 20px;
}

.interesting-item-caption h2:hover, .interesting-item-caption h2:focus {
  color: #937910;
  text-decoration: none;
}

.company-img {
  width: 100%;
  height: 195px;
}

.company-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.company-box, .partner-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.company-item img {
  height: 34px;
  margin-bottom: 20px;
}

.company-item h2 {
  color: #383838;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 700;
}

.company-item p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.sponsor-item {
  padding: 0 20px;
  text-align: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sponsor-item:hover {
  -webkit-filter: none;
          filter: none;
}

.sponsor-item img {
  margin: 0 auto 10px auto;
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.sl-ref {
  padding-top: 20px;
  border-top: 1px solid #f6f6f6;
}

.sl-ref .slick-next:before {
  content: url(../img/icon/right-arrow.png);
}

.sl-ref .slick-prev:before {
  content: url(../img/icon/right-arrow.png);
}

.sl-ref .slick-prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f7;
}

.footer-item h3 {
  font-size: 20px;
  color: #222;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-list li a {
  padding: 2px 0;
  font-size: 15px;
  color: #222;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.footer-list li a:hover, .footer-list li a:focus {
  color: #937910;
  text-decoration: none;
}

.fa-arrow-right-custom {
  font-size: 16px;
  color: white;
}

.footer-form input[type="text"] {
  background-color: white;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 9px 5px;
  color: #222;
  font-size: 16px;
  border: 1px solid #eee;
  margin-right: -3px;
  width: 200px;
}

.footer-form input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.footer-form input[type="text"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.footer-form input[type="text"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.footer-form input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.footer-form input[type="text"]::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.footer-form input[type="text"]:hover, .footer-form input[type="text"]:focus {
  outline: none;
}

.footer-form .btn-blue {
  padding: 11px;
}

.footer-link {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-link li a {
  display: inline-block;
  padding: 5px;
}

.i-vk {
  background: url("../img/icon/auth-vk.png") no-repeat;
  width: 50px;
  height: 50px;
}

.i-fb {
  background: url("../img/icon/auth_soc_fb.png") no-repeat;
  width: 50px;
  height: 50px;
}

.i-in {
  background: url("../img/icon/aut-ins.png") no-repeat;
  width: 50px;
  height: 50px;
}

.i-tw {
  background: url("../img/icon/auth-tw.png") no-repeat;
  width: 50px;
  height: 50px;
}

.contact-list .dropdown-content {
  min-width: 160px;
  padding: 12px 5px;
}

.contact-list i {
  margin-right: 10px;
  font-size: 14px;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list li a {
  color: #222;
  font-size: 16px;
}

.contact-list li a:hover, .contact-list li a:focus {
  color: #222;
  text-decoration: none;
}

.bg-box {
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-block {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  padding-top: 60px;
  padding-bottom: 30px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.show-height {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form input[type="text"] {
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 10px;
  width: 80%;
}

.search-form input[type="text"]:focus {
  outline: none;
}

.search-form input[type="text"]::-webkit-input-placeholder {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.search-form input[type="text"]::-moz-placeholder {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.search-form input[type="text"]:-ms-input-placeholder {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.search-form input[type="text"]::-ms-input-placeholder {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.search-form input[type="text"]::placeholder {
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.search-form .fa-times-custom {
  color: black;
  font-size: 25px;
}

.top-item-caption p{
  font-size: 18px;
  line-height: 26px;
  text-indent: 20px;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: none;
}

.overlay-showed {
  display: block;
}

.main-box-single {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9f9f9;
}

.main-box-single h1 {
  color: #222;
  font-weight: 700;
  font-size: 30px;
}

.content-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.content-box .content p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #222222;
}

.content-box .content .content-top {
  padding-bottom: 20px;
  border-bottom: 2px solid #937910;
}

.content-box .content .content-top img {
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-box .content .content-bottom {
  padding-top: 20px;
}

.content-box .content .content-bottom h2.block-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

.content-box .content .content-bottom h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.sidebar a:hover, .sidebar a:focus {
  text-decoration: none;
}

.sidebar h2.block-title {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}

.sidebar-top {
  background: #f9f9f9;
  padding: 21px 30px 16px;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 30px;
}

.sidebar-top-head {
  padding: 0 0 19px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
}

.sidebar-top-head h3 {
  font-weight: 700;
  font-size: 18px;
  color: #222;
}

.sidebar-top-bottom p {
  margin-bottom: 10px;
  color: #222;
  font-size: 15px;
  max-width: 80%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.sidebar-top-bottom span {
  display: inline-block;
  float: right;
  margin-left: 15px;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-item img {
  margin-bottom: 10px;
  height: 185px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar-item h3 {
  color: #222;
  font-size: 16px;
  max-height: 40px;
  overflow: hidden;
  font-weight: 700;
}

.sidebar-item h3:focus, .sidebar-item h3:hover {
  text-decoration: none;
  color: #937910;
}

.top-item-caption img{
  width: 100%;
}

.top-item-caption .prod{
  width: 40%;
}

@media (min-width: 320px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .icon-bar {
    background-color: black;
  }
  .navbar-brand {
    padding: 14px 10px 10px 0;
  }
  .navbar-brand img {
    height: 25px;
  }
  .phone-mobile {
    margin-left: 0;
    float: left;
  }
  .m-menu {
    height: 295px;
    overflow-y: auto;
    border-bottom: 1px solid #d4d4d4;
  }
  .m-menu li a {
    padding: 10px 5px;
  }
  .call-search {
    padding: 0 0 0 10px;
    font-size: 15px;
  }
  .search-block {
    padding-top: 30px;
  }
  .search-block .search-form input[type="text"] {
    font-size: 20px;
  }
  .search-block .search-form input[type="text"]::-webkit-input-placeholder {
    font-size: 20px;
  }
  .search-block .search-form input[type="text"]::-moz-placeholder {
    font-size: 20px;
  }
  .search-block .search-form input[type="text"]:-ms-input-placeholder {
    font-size: 20px;
  }
  .search-block .search-form input[type="text"]::-ms-input-placeholder {
    font-size: 20px;
  }
  .search-block .search-form input[type="text"]::placeholder {
    font-size: 20px;
  }
  .search-block .search-form .btn-blue {
    padding: 12px 15px 12px;
    margin-right: 10px;
  }
  .main-box {
    height: 240px;
  }
  .main-box .main-block {
    padding: 30px 0 10px 0;
  }
  .main-box .main-block h1 {
    font-size: 25px;
  }
  .top-box .block-title {
    font-size: 22px;
  }
  .interesting-box h2.block-title {
    font-size: 25px;
  }
  .all-records {
    margin-bottom: 20px;
  }
  .interesting-box .top-item-img {
    height: 250px;
  }
  .interesting-box .top-item-caption h2 {
    font-size: 20px;
  }
  .interesting-item {
    height: 300px;
  }
  .interesting-item-caption h2 {
    max-height: 80px;
    overflow: hidden;
  }
  .company-item {
    padding-top: 10px;
    text-align: center;
  }
  .company-item img {
    margin: 5px auto;
  }
  footer {
    text-align: center;
  }
  footer .footer-item {
    margin-bottom: 20px;
  }
  footer .footer-link {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-toggle {
    margin-right: 0;
  }
  .main-box-single h1 {
    font-size: 22px;
  }
  .content-box .content .content-top img {
    height: 200px;
  }
  .content-box .content .content-bottom h2.block-title {
    font-size: 20px;
  }
  .content-box .content .content-bottom h3 {
    font-size: 18px;
  }
  .sidebar .footer-form input[type="text"] {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .social-links li a {
    padding: 0 10px;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 10px;
  }
  .navbar-brand > img {
    height: 20px;
  }
  .m-menu li a {
    font-size: 13px;
    padding: 35px 4px;
  }
  .call-search {
    font-size: 18px;
    padding: 33px 0px 30px 5px;
  }
  .navbar-brand {
    padding: 35px 5px 0 0;
  }
  .footer-item {
    margin-bottom: 20px;
  }
  html, body {
    overflow-x: hidden;
  }
  .main-box {
    height: 360px;
  }
  .main-block {
    padding: 100px 0 20px 0;
  }
  .main-box-single h1 {
    font-size: 25px;
  }
  .content-box .content .content-top img {
    height: 300px;
  }
  .sidebar-top {
    background: #f9f9f9;
    padding: 21px 10px 16px;
  }
  .sidebar-top-bottom span {
    margin-left: 5px;
  }
  .sidebar-item img {
    height: 135px;
  }
  .sidebar-item h3 {
    font-size: 14px;
    max-height: 50px;
  }
  .sidebar .footer-form input[type="text"] {
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .navbar-brand > img {
    height: 20px;
  }
  .m-menu li a {
    font-size: 15px;
    padding: 35px 7px;
  }
  .call-search {
    font-size: 18px;
    padding: 33px 0px 30px 5px;
  }
  .navbar-brand {
    padding: 35px 10px 0 0;
  }
  .sidebar-top-bottom span {
    margin-left: 5px;
  }
  .footer-form input[type="text"] {
    width: 175px;
  }
  .footer-link i.icon {
    width: 40px;
    height: 40px;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }
  .contact-list li a {
    color: #222;
    font-size: 11px !important;
  }
}

.navbar-brand>img {
  width: 180px;
}

.navbar-brand {
  padding: 20px 12px;
}